@media screen and (max-width: 420px) {
   
   
   
   
    .container 
    {
        width: 100%;
    }


    .content
    {
        width: 80%;
    }
    .conentt
    {
        width: 95%;
        margin: auto;
    }
    .content
    {
        width: 90%;
    }


    .content h2
    {
     color: aliceblue;
     font-family: "Roboto", sans-serif;
     font-weight: 100;
     margin-top: 10px;
     font-style: normal;
     text-align: center;
    }
   
   }